# 캐시파일 폴더 무시
__pycache__/
*/__pycache__/
**/__pycache__/

# 툴 무시
**/Tools/*

# 가상환경 폴더 무시
.venv/

# 서비스 폴더 내의 .dbf 파일 무시
services/*/db/*.dbf

# 크롬 프로필 무시
**/chrome_user/

# csv파일 무시
**/*.csv

# 피클파일 무시
**/*.pkl

# 로그파일 무시
**/_Logs/