<header id="site-header">
  <div class="logo" id="logo-area">
    <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Libra Logo" id="logo-img">
    <span id="logo-text">Libra</span>
  </div>
  <nav id="main-nav">
    <a href="{{ url_for('static', filename='html/page_chartpage_num01.html') }}" class="nav-link">학습환경 분석</a>
    <a href="{{ url_for('static', filename='html/page_prediction_num01.html') }}" class="nav-link">발전도 분석</a>
    <a href="{{ url_for('static', filename='html/page_devpage_num01.html') }}" class="nav-link">Login</a>
  </nav>
</header>
