<!--Flask 기본 템플릿-->
<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <!--Bootstrap css -->
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>{% block title %}Libra{% endblock %}</title>
</head>
<body>
  {% include "hearder.html" %}
  {% block header %}{% endblock %}
  
<div class="sections-wrapper">
    {% block content %}{% endblock %}
  </div>

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "footer.html" %}

<!--여기 안에 HTML 컨텐츠가 들어감-->
<!-- {% endblock %} -->
 
<!-- 기본 템플릿에 삽입할 내용 End -->
<!--jQuery JS-->
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
        <!--Bootstrap JS-->
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

  <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
   <!--자바스크립트 Start -->
{% block script %}
{% endblock %}
<!--자바스크립트 End -->
</body>
</html>